/* add font Nohemi */
@font-face {
  font-family: Nohemi;
  src: url(Web-TT/Nohemi-ExtraLight.woff2);
}

/* body styling */
html, body {
  font-family: Nohemi;
}



/* size of the monitor */
.screenSpace {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

#grained{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding-bottom: 5px;
}

.vertical-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.spread {
  display: flex;
  flex-direction: row;
  /* decides in what direction to flex.  row for horizontal | column for vertical */
  flex-wrap: wrap;
  /* "wrap" allows items to flood over the flexbox */
  justify-content: center;
  /* tells where the content is placed horizontally.  start | center | space-between | space-around*/
  align-items: start;
  align-content: center;
  /* tells where the content is placed vertically.  stretch | flex-start | center */
  /*   align-content: space-between; */
  /* works like justify content but for flex-wrap.  | space-between |  */
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}


@keyframes slideIn {
  from {
    transform: translateY(45%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.flexbox-item {
  width: 50vh;
  min-width: 700px;
  margin: 0;
  margin-bottom: -5px;
  flex-grow: 1;
  position: relative;
  opacity: 0;
}

.animate {
  animation: slideIn .8s ease forwards;
}

.delay {
  animation-delay: .1s;
}

.imageSelect,
.image {
  width: 100%;
  height: 100%;
  transition: filter 0.3s;
}

.imageSelect:hover {
  cursor: pointer;
  filter: blur(1px) grayscale(100%);
}

#video-container1,
#video-container2,
#video-container3,
#video-container4,
#video-container4-1,
#video-container5,
#video-container6 {
  display: none;
}

#video-container {
  display: none;
}

trigger+div {
  display: none;
  transition: color 0.3;
}

trigger:hover+div {
  height: 10%;
  width: 100%;
  display: block;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 45%;
  font-weight: 200;
}

.flexbox-multi-item {
  /*   margin-top: 100px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.video-play-notification {
  cursor: pointer;
}

.video-play-notification:hover {
  cursor: pointer;
}

.text,
#current-time,
#current-date {
  display: flex;
  font-weight: 100;
  font-size: smaller;
  color: white;
  flex-direction: row;
}

#current-time,
#current-date {
  width: 70px;
  justify-content: end;
  scroll-snap-align: start;
}


/* scroll snapping */
html {
  scroll-snap-type: y mandatory;
}

